<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head" lang="en">
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <header th:fragment="header(text)">
            <h1 th:text="${text}"></h1>
        </header>
        
        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Facebook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" th:href="@{/index}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/friends}">Friends</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/images}">Images</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/requests}">Friend requests</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Edit profile</a>
                    <a class="dropdown-item" href="#">Edit friends</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{logout}">Log out</a>
                  </div>
                </li>
                
              </ul>
              <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="POST">
                <input class="form-control mr-sm-2" name="searchString" type="search" placeholder="Search for friends" aria-label="Search">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
              </form>
            </div>
          </nav>
        
        <footer th:fragment="footer" class="page-footer font-small fixed-bottom indigo">
            <div class="container-fluid text-center text-md-left">
                    Footer content
            </div>
        </footer>
        
        <section th:fragment="scripts" >
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>       
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        </section>
        
    </body>
</html>
