<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Search results')"></head>
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>
        <main>
            
            <section class="container container-fluid">
                <header th:replace="fragments/layout :: header(text='My friends')"></header>
                <div class="container container-fluid">
                    <ul>
                    <li th:each="friend : ${friends}">
                        <span th:text="${friend.publicName}">Julkinen nimi</span>
                        <form th:action="@{/viewFriend/{username}(username=${friend.username})}" th:method="POST">
                            <input type="submit" class="btn btn-success" value="View profile"/>
                        </form><br/>
                    </li>
                </ul>
                </div>
            </section>
        </main>
        <section th:replace="fragments/layout :: scripts"></section>
    </body>
</html>

