<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Images')"></head>
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>

        <main class="container container-fluid">
            
            <h2><span th:text="${account.publicName}"></span>'s Album</h2>
            <p>You can only have up to 10 images in your album.</p>
            
            <div>
                <ul class="flex-grid">
                    <li class="col" th:each="image : ${images}">
                        <div th:text="${image.description}">Description of image</div>
                        <img class="image" th:src="@{/images/{id}/content(id=${image.id})}" alt="${image.description}"/>
                        <form th:action="@{/likeImage/{id}/{username} (id=${image.id}, username=${currentUser.username})}" th:method="POST">
                            <input type="submit" class="btn btn-success" value="Like"/>
                            <span th:text="${image.likes}"></span><i class="fas fa-heart"></i><br/>                               
                        </form>
                        <form th:action="@{/deleteImage/{id}(id=${image.id})}" th:method="POST">
                            <input type="submit" class="btn btn-danger" value="Delete"/>
                        </form>
                        
                    </li>
                </ul>
            </div>

            <h2>Add new image</h2>

            <form method="POST" th:action="@{/images}" enctype="multipart/form-data">
                <input type="file" name="file" id="file"/>
                <label>Description:</label>
                <input type="text" name="description" />
                <input type="submit" value="Add!"/>
            </form>
        </main>
        <section th:replace="fragments/layout :: scripts"></section>
        </body>
</html>
