<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

    <head th:replace="fragments/layout :: head(title='My Profile')"></head>
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>
        <section class="container container-fluid">
            
            <header th:replace="fragments/layout :: header(text=${account.name})"></header>
            <div class="container container-fluid">
                <div class="row">
                    <div class="col-4">

                        <i class="fas fa-user"></i><br/>
                        <a th:href="@{/images/{username} (username=${account.username})}"class="btn btn-primary">View my album</a>
                    </div>
                    <div class="col-8">
                        <h3>Send <span th:text="${account.publicName}">user's public name</span> a message!</h3>
                        <form class="input-group" th:action="@{/messages/{username} (username=${account.username})}" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" name="message" class="form-control" placeholder="type your message" aria-label="Message field" aria-describedby="button-addon2"/>
                                <div class="input-group-append">
                                  <button class="btn btn-outline-success" type="submit" id="button-addon2">Send</button>
                                </div>
                            </div>
                        </form>
                        
                        <ul class="messages-list list-group">
                            <li class="list-group-item" th:each="message : ${messages}">
                                <div class="message-header">
                                    <span class="sender-name" th:text="${message.sender}"></span>
                                    <span class="message-time" th:text="${message.time}"></span><br/>
                                </div>   
                                <div class="divider"></div>
                                <span th:text="${message.message}"></span>
                             
                                <form th:action="@{/likeMessage/{id}/{username}(id=${message.id}, username=${currentUser.username})}" th:method="POST">
                                    <!--<input type="submit" class="btn btn-success" value="Like"/>-->
                                    <span th:text="${message.likes}"></span>
                                    <span> people </span>
                                    <button type="submit" class="btn"><i class="fas fa-heart pr-2" aria-hidden="true"></i> this</button>
                                </form>                          
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/layout :: footer"></footer>
        </section>
        <section th:replace="fragments/layout :: scripts"></section>
    </body>
</html>
