<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Facebook')"></head>
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>
        <section class="container container-fluid">
            
            <header th:replace="fragments/layout :: header(text=${'Hello ' + name})"></header>
            <div class="container container-fluid">
                <div class="row">
                    <div class="col-4">
                        <p th:text="${name}"></p><br/>
                        <img src="" alt=""/>
                    </div>
                    <div class="col-8">
                        Uusi päivitys
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/layout :: footer"></footer>
        </section>
        <section th:replace="fragments/layout :: scripts"></section>
    </body>
</html>
