<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Facebook')"></head>
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>
        
        <div class="container container-fluid">
            <header th:replace="fragments/layout :: header(text=${account.name})"></header>
            <br/>
            <i class="fas fa-user" style="font-size: 300px; color:grey;"></i>
        </div>
        <section th:replace="fragments/layout :: scripts"></section>
    </body>
</html>
